* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

container {
  margin: auto;
}

/* Header */
h1 {
  color: cadetblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  text-decoration: underline;
}

/*Body*/
body{
  min-height: 100vh;
  background-color: bisque; 
}

/* Main Table */

.content-table {
  border-collapse: collapse;
  border-spacing: 5px;
  margin: 40px 20px;
  font-size: 1.3em;
  min-width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-image: url(/simple_shopping_cart/simple_shopping_cart/images/groceries-5216716_1280.jpg);
  background-position: center;
  background-size: cover;
}

.content-table thead {
  position: sticky;
  top: 0;
  left: 0;

}

.content-table thead tr {
  background-color: cadetblue;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.content-table th,
.content-table tr {
  padding: 20px 25px;
  text-shadow: 50px;
}

.content-table tbody tr {
  border-bottom: 1px solid black;
  margin: auto;
  padding: 25px;
} 

/*.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}*/

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid cadetblue;
}

.content-table tbody tr:nth-of-type(even) {
  font-weight: bold;
  color: cadetblue; 
}

.content-table tbody tr:nth-of-type(odd) {
  font-weight: bold;
  color: rgb(241, 6, 6); 
}

.content-table tbody tr:hover {
  background-color: #fff6fb;
}

/*.content-table th td {
  padding: 20px;
  border-radius: 20px;
  
}*/

td {
  border: 1px solid black;
  text-align: center;
}

th {
  text-align: center;
}

input {
  text-align: center;
  width: 150px;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid #ccc
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
input:placeholder-shown{
  font-size: medium;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  border: 1px
  border-radius: 10px;
}







